# eclipse project folder
.idea/

# custom installations files
/python_env
/georeference.egg-info
/process.egg-info
/tmp/*
/log

# all files with ending 
*.pyc

# configuration files
development.ini
production.ini
/georeference/settings.py

# test files
/georeference/test/test-data/*
!/georeference/test/test-data/test-ak.jpg
!/georeference/test/test-data/df_dk_0010001_4630_1928.tif
!/georeference/test/test-data/test-mtb.tif

# build files
/build
/dist
